.login{
  display: flex;
  flex-direction: column;
}
.login span{
  text-align: center;
  font-weight:400;
  font-size: 35px;
}

.login input{
  border-bottom: 2px solid white;
  font-size: 30px;
  color: white;
  text-align: center;

}

.main{
  display: flex;
  flex-direction: column;
}

.greeting{
  text-align: center;
  font-weight:400;
  font-size: 45px;
}

.todo-input{
  display: flex;
  flex-direction: column;
}

.todo-input span{
  text-align: center;
  font-weight:400;
  font-size: 30px;
}

.todo-typing {
  border-bottom: 2px solid white;
  font-size: 30px;
  color: white;
  text-align: center;

}

.todo-list{
  list-style: none;
}
.todo-list li{
  font-size: 25px;
}
.todo-list li input{
  vertical-align:-1px ;
}
.todo-list button{
  margin-left: 10px;
  background-color: white;
  border: none;
  vertical-align: 3px;
  border-radius: 20%;
}